### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/
node_modules/
logs/
public/uploads/
config/production.json
npm-debug.log

# dependencies
**/node_modules/
/.pnp
.pnp.js

# misc
.DS_Store

# debug
**/*.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
