extends layout

block content
    .container
        .row
            h3.col.center-on-small-only About Innovision
            p.col.s10.offset-s1.m12.
                Innovision is the annual techno-managerial fest of NSIT. It was conceived in 2002 as a purely technological fest, but with the advent of scope in the area of management, the vision expanded to contain managerial events as well. We believe in keeping up the spirit of a tech fest while amalgamating it with a carnival atmosphere.


block style
    style
        include ../public/stylesheets/pages/about.css