extends layout

block content
    .container
        .card.row
            .col.s10.offset-s1
                h3.center-on-small-only.intro Dear Reader,
                p.
                    It is of grave importance that the information of this letter does not reach anyone else but you. I have been researching extensively and have found that the location with the following space-time coordinates 28.7499° N, 77.1170° E, 10.03.2016 AD has started showing some unusual temporal activity.

                    Turns out that a team of skilled professionals, specialised in altering spatial fabric, has been active in organising INNOVISION. They spawned into existence on 2002AD and have been consistently successful in summoning masses and luring them with a series of techno-managerial events.

                    Investigating this, I travelled to the future, and it will be a huge understatement to call it spell-bounding.

                    I’ll sure be visiting these coordinates again, and I hope to see you there!
                    Zero
                br


block style
    style
        include ../public/stylesheets/pages/about.css