doctype html
html
    head
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='/stylesheets/materialize.min.css', rel='stylesheet', media='screen')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/font/material\ icons/material-icons.css')

    body
        block content

        script(src='/javascripts/jquery-2.2.0.min.js')
        script(src='/javascripts/materialize.js')