extends layout

block meta
    title= "Campus Ambassadors - Innovision, NSIT"

block content
    .container
        .row
            h3.intro Campus Ambassador Program
        .row
            p.
                Ever been the social butterfly of your group? Or perhaps the natural leader ? Even if you're neither, fear not !
                Campus ambassador programme brings you not only the chance to win insane prizes but also gives you an incredible opportunity to explore your horizons.
            h3.intro
                a(target="_blank" href="http://goo.gl/forms/lt3G3kPtyU") Register Here

block style
    style
        include ../public/assets/stylesheets/pages/list.css