//
   Created by shubham on 31/1/16.
extends layout

block content
    .slider
        ul.slides.black
            li
                img(src="/images/bike.jpg")
                .caption.left-align
                    h3 ROAD SHOW
                    h5.light.
                        Two words: adrenaline rush. Roads and hearts will be set on fire
                        as the Harley-Davidsons and Hondas will race past on the streets
                        overflowing with spectators.
            li
                img(src="/images/pd.jpg")
                .caption.left-align
                    h3 PANEL DISCUSSION
                    h5.light.
                        Clash of wits, conflicting intellects, a hour of unprecedented
                        intellectual simulation awaits the people in the form of 'Panel Discussion'
            li
                img(src="/images/robowars.jpg")
                .caption.left-align
                    h3 ROBOTICA
                    h5.light.
                        An array of various robotics competitions that include
                        Line Follower competition, Robot Quidditch, Maze
                        Navigation event and several more.
            li
                img(src="/images/felicity.jpg")
                .caption.left-align
                    h3 FELICITY
                    h5.light.
                        Intense happiness. Delight. Satisfaction. The Oxford Dictionary
                        doesn’t come close to describe all the emotions that Felicity at Inno’
                        induces. Felicity is one of the headliner events at the fest.
            li
                img(src="/images/defexpo.jpg")
                .caption.left-align
                    h3 DEFENSE EXPO
                    h5.light.
                        Defense Expo, done in collaboration with various government
                        bodies, is an exhibition of state-of-the-art
                        artillery and machines used by the Indian Army.
    h3.center Events
    .container
        .row
            each event, index in events
                .events.col.s12.m6.l4
                    .card.small
                        .card-image.waves-effect.waves-block.waves.light
                            img.activator(src=event.photo)
                        .card-content
                            span.card-title.activator.grey-text.text-darken-4 #{event.name}
                                i.material-icons.right more_vert
                            p
                                a(href="#") #{event.linkName}
                        .card-reveal
                            span.card-title.grey-text.text-darken-4 #{event.details}
                                i.material-icons.right close
                            script.
                                var det = event.details;
                            p event.details
                            .btn.waves-effect.waves-light.blue.darken-4
                                a(href="/events/" + event.linkName) Details