extends layout

block content
    if (!user)
        a(href="/login") Login
        br
        a(href="/register.jade") Register
    if (user)
        p You are currently logged in as #{user.username}
        a(href="/logout") Logout