extends layout

block content
    .row.yellow.accent-2.zero(style="padding-top: 50px; padding-bottom: 50px;")
        h3.zero.center.
            INNOVISION 16 <br> 9<sup>th</sup>-12<sup>th</sup> MARCH
    .row.


block style
    style.
        nav, footer {
            display: none !important;
        }

block scripts
    script(src="/javascript/velocity.min.js")