extends layout

block content
    div
        .container
            .row.hide-on-med-and-down
                br
                br
                br
            .row
                .col.s12.m10.center
                    img#logo(src="/images/inno-white.png")
                    h3.intro.white-text.zero INNOVISION'16
                    h5.intro.black-text.zero NSIT'S TECHNO-MANAGERIAL FESTIVAL
                    h3.intro.white-text.zero 9th-12th MARCH
                .col.m2.s12
                    img#mascot.right(src="/images/mascot_shadow.png")
                .col.s12.center.hide-on-med-and-up
                    h3.intro-inline.white-text MEET ZERO!

block style
    style.
        #logo {
            width: 40%;
        }
        #nav-logo {
            display: none;
        }
        #mascot {
            position: relative;
            left: -12%;
            top: 20px;
        }
        body, .btn {
            background: #f4511e;
        }
        #slide-out, #hello, .collapsible-body, .collapsible-header, #loginModal, .collapse {
            background: #bf360c !important;
        }
        /*#mascot {*/
            /*position: absolute;*/
            /*bottom: 0;*/
            /*left: 20px;*/
            /*width: auto;*/
            /*height: 35%;*/
        /*}*/
        /*.mascot a {*/
            /*position: absolute;*/
            /*bottom: 50px;*/
            /*left: 150px;*/
        /*}*/
        /*.mascot h5 {*/
            /*font-weight: 400;*/
        /*}*/
        /*.someBox {*/
            /*height:100px;*/
            /*width: 52%;*/
            /*border:3px solid #BDBDBD;*!*/
        /*}*/
        /*.someBox:hover {*/
            /*background-color: #BDBDBD;*/
            /*color: #fff;*/
        /*}*/
        /*h5 {*/
            /*font-weight: 400;*/
        /*}*/
        /*body {*/
            /*background: rgba(189, 189, 189, 1);*/
            /*!* Old Browsers *!*/
            /*background: -moz-linear-gradient(45deg, rgba(189, 189, 189, 1) 0%, rgba(189, 189, 189, 1) 31%, rgba(255, 255, 255, 1) 31%, rgba(255, 255, 255, 1) 100%);*/
            /*!* FF3.6+ *!*/
            /*background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(189, 189, 189, 1)), color-stop(31%, rgba(189, 189, 189, 1)), color-stop(31%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 1)));*/
            /*!* Chrome, Safari4+ *!*/
            /*background: -webkit-linear-gradient(45deg, rgba(189, 189, 189, 1) 0%, rgba(189, 189, 189, 1) 31%, rgba(255, 255, 255, 1) 31%, rgba(255, 255, 255, 1) 100%);*/
            /*!* Chrome10+,Safari5.1+ *!*/
            /*background: -o-linear-gradient(45deg, rgba(189, 189, 189, 1) 0%, rgba(189, 189, 189, 1) 31%, rgba(255, 255, 255, 1) 31%, rgba(255, 255, 255, 1) 100%);*/
            /*!* Opera 11.10+ *!*/
            /*background: -ms-linear-gradient(45deg, rgba(189, 189, 189, 1) 0%, rgba(189, 189, 189, 1) 31%, rgba(255, 255, 255, 1) 31%, rgba(255, 255, 255, 1) 100%);*/
            /*!* IE 10+ *!*/
            /*background: linear-gradient(45deg, rgba(189, 189, 189, 1) 0%, rgba(189, 189, 189, 1) 31%, rgba(255, 255, 255, 1) 31%, rgba(255, 255, 255, 1) 100%);*/
            /*!* W3C *!*/
            /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdbdbd', endColorstr='#ffffff', GradientType=1);*/
            /*!* IE6-9 fallback on horizontal gradient *!*/
        /*}*/
        footer {
            display: none;
        }

block scripts
    script(src="/javascripts/velocity.min.js")