extends layout

block meta
    meta(name="keywords" content="Innovision, nsit,inno, innovision nsit, FEST")
    meta(property="article:author" content="https://www.facebook.com/Innoitis/")
    meta(name="publisher" content="https://www.facebook.com/Innoitis/")
    meta(name="copyright" content="https://www.facebook.com/Innoitis/")
    meta( name="revisit-after" content="1 day")
    meta(property="og:type" content="website")
    meta(property="og:url" content="#")
    meta(property="og:image" content="#")
    meta(property="og:description" content="Innovision is the annual inter-college, techno-managerial fest of Netaji Subhas Institute of Technology. ")

block style
    style
        include ../public/stylesheets/style_countdown.css
    style.
        @media only screen and (max-width: 600px) {
            #preloader {
                display: none;
            }
            #main {
                display: inline-block !important;
            }
        }
        main, #big, footer, nav {
            -webkit-transition: all 0.3s 1s ease-out;
            transition: all 0.3s 1s ease-out;
        }
        #big {
            display: inline-block;
        }
        #menu {
            z-index: 2;
        }
        #mascot {
            position: relative;
            margin: 0 auto;
            top: -30px;
        }

        body, #hello, #footer, .btn, #slide-out, .collapsible-body, .collapsible-header, .collapse {
            background: #fff !important;
        }

        #loginModal {
            background: grey !important;
        }

        html, body {
            height: 100%;
        }

        .wrapper {
            width: 80%;
            height: 100%;
            margin: -65px auto 10px auto !important;
            background: #fff
        }

        .h_iframe {
            position: relative;
        }

        .h_iframe .ratio {
            display: block;
            width: 100%;
            height: auto;
        }

        .h_iframe iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        #countdown {
            background-color: #e72b48 !important;
            padding-top: 30px;
        }

        #zero {
            padding-bottom: 0;
        }

        #listicon {
            margin-right: 0;
        }

        .brand-logo {
            z-index: 10;
        }

        .brand-logo #big {
            width: auto !important;
            height: 75px !important;
            margin: 0 !important;
        }

        .mobile {
            background-color: #4898cf;
            padding: 30px 0;
        }
        h1, h2, h3, h4, h5, h6, p, li, i, div, .btn, a {
            color: #000 !important;
        }
        .fab div{
            color: #fff !important;
        }

        #get-id {
            position: absolute;
            top: 100px;
            width: 200px;
            margin-left: -100px;
            left: 50%;
        }

        #get-id button {
            background-color: #0D47A1 !important;
            font-size: small !important;
            color: #fff !important;
        }
        #padd {
            margin: 5px 0 !important;
        }
        #preloader {
            z-index: 11111;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
        }
        #inno-logo-top {
            display: none;
        }
        #register {
            padding: 15px 0;
        }
        /*#right, #left {*/
        /*width:10% !important;*/
        /*height: 100% !important;*/
        /*background-color: #e72b48 !important;*/
        /*margin: 0 !important;*/
        /*}*/
        .mobile img {
            width: 300px;
        }

block content
    #preloader.white(style='text-align:centre; padding-top: 200px; padding-left: 550px; padding-bottom: 250px; padding-right: 250px;')
        #status
            object(type="image/svg+xml" data="/assets/inno_icon.svg" width='50%' height='50%')
                img#no-svg(src="/images/inno2.png" alt="No SVG support" width='50%', height='50%')

    #main.hidden
        .robot.hide-on-small-and-down
            #left
                .pipe &nbsp;
            .wrapper
                .h_iframe
                    img.ratio(src="/assets/robot/Untitled-1.png")
                    iframe(src="/assets/robot/robot.html" frameborder="0" allowfullscreen)
            #right
                .pipe &nbsp;
        .mobile.hide-on-med-and-up.zero
            .container
                .row
                    .col.s12.center
                        img(src="/images/inno-white.png")
                        h4.intro.white-text.zero INNOVISION'16
                        h5.intro.black-text.zero NSIT's Annual Science And Technology Festival
                        h4.intro.white-text.zero 9th-12th March
                        h5.intro.black-text.zero BACK TO THE FUTURE
                        br
                        br
                        a#padd(href="/register")
                            button.btn.waves-effect.waves-light.intro.grey-text GET YOUR INNO ID

        .row.center.hide-on-small-and-down
            #get-id.transparent
                a(href="/register")
                    button.btn.waves-effect.waves-light.intro.grey-text GET YOUR INNO ID

        #countdown.white-text.zero
            .container
                h3.intro.center.white-text Going Back To the future in
                .row.zero
                    .col.s12
                        div
                            <div class="clock">
                            <svg class="hands" viewBox="0 0 32 32">
                            <circle class="days" cy="16" cx="16" r="16"></circle>
                            <circle class="hours" cy="16" cx="16" r="16"></circle>
                            <circle class="minutes" cy="16" cx="16" r="16"></circle>
                            <circle class="seconds" cy="16" cx="16" r="16"></circle>
                            </svg>
                            </div>
                            <div class="fabs center">
                            <div class="fab">
                            <div class="time day"></div>
                            <div>day</div>
                            </div>
                            <div class="fab">
                            <div class="time hour"></div>
                            <div>hour</div>
                            </div>
                            <div class="fab">
                            <div class="time minute"></div>
                            <div>minute</div>
                            </div>
                            <div class="fab">
                            <div class="time second"></div>
                            <div>second</div>
                            </div>
                            </div>
                            <h6 class="greeting"><h6>
                    .col.s12.hide-on-med-and-up
                        br
                        br
                        br
                        br
        #zero.orange
            .container
                .row.hide-on-med-and-down
                    br
                    br
                    br
                .row
                    a(href="/about")
                        .col.s12.m10.center
                            h6 &nbsp;
                            h1.intro.white-text.zero MEET ZERO
                            h5.intro.black-text.zero OUR MASCOT, LOST IN TIME
                        .col.m2.s12
                            img#mascot.right(src="/images/mascot_shadow.png")

block scripts
    script(src='/javascripts/jquery.countdown.min.js')
    script(src='/javascripts/index_countdown.js')
    script.
        function createCookie(name, value, days) {
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (2*24*60*60*1000));
                var expires = "; expires=" + date.toGMTString();
            } else
                var expires = "";
            document.cookie = name+"="+value+expires+"; path=/";
        }
        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }
        $(document).ready(function () {
            $('select').material_select();
            $('.modal-trigger').leanModal();
            $('.collapsible').collapsible({
                accordion: true // A setting that changes the collapsible behavior to expandable instead of the default accordion style
            });
            // Initialize collapse button
            $("#menu").sideNav({
                menuWidth: 300,
                edge: 'left', // Choose the horizontal origin
                closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
            });
        });
        $(window).load(function () { // makes sure the whole site is loaded
                $('#status').delay(4000).fadeOut('slow'); // will first fade out the loading animation
                $('#preloader').delay(4500).fadeOut('slow'); // will fade out the white DIV that covers the website.
                setTimeout(function () {
                    $('#main').removeClass('hidden');
                }, 4400);
        })