doctype html
html
    head
        title= "Innovision, NSIT"
        block meta
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/font/material\ icons/material-icons.css')
        link(href='/stylesheets/materialize.min.css', rel='stylesheet', media='screen')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/font/intro/intro.css')
        link(rel='manifest' href='/manifest.json')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400,800,300', type='text/css')
        style.
            @media only screen and (max-width: 600px) {
                #address {
                    text-align: center !important;
                }
            }
            #listicon {
                margin-right:0;
            }
            h1, h2, h3, h4, h5, h6, p, li, i, div, .btn, a {
                color: #fff !important;
            }
            #big {
                display: none;
            }
        block style
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject'] = r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                    ga('create', 'UA-73588354-1', 'auto');
                    ga('require', 'linkid');
                    ga('send', 'pageview');
    body
        nav.z-depth-0.transparent
            div.nav-wrapper(style="padding: 8px 30px 0 30px;")
                a#menu.brand-logo.left(href="#" data-activates="slide-out")
                    i.material-icons menu
                a.brand-logo.hide-on-small-and-down.center.hide-on-small-and-down(href="/")
                    img#big(src="/images/inno_full_logo_poster_.png")
                a.brand-logo.hide-on-small-and-down.right(href="/")
                    img#inno-logo-top.right(src="/images/inno-white.png" style="margin-right:10px; margin-top:5px")

                ul#slide-out.side-nav
                    if !login
                        li.hide-on-small-and-down
                            a.modal-trigger.row.zero(href="#loginModal")
                                .bold.col.no-padding Login
                                i.material-icons.col.right account_circle
                        li.hide-on-med-and-up
                            a.modal-trigger.row.zero(href="/login")
                                .bold.col.no-padding Login
                                i.material-icons.col.right account_circle
                    else
                        li#hello
                            ul.collapsible
                                li
                                    a.bold.collapsible-header.waves-effect.waves-light.zero Hello #{firstName}!
                                        i.material-icons.col.right#listicon arrow_drop_down
                                    .collapsible-body
                                        ul
                                            li
                                                a.zero.row(href="/users/details")
                                                    .col.no-padding Profile
                                                    i.material-icons.col.right account_circle
                                            li
                                                a.zero.modal-trigger.row(href="/logout")
                                                    .col.no-padding Logout
                                                    i.material-icons.col.right exit_to_app

                    li
                        a.row.zero(href="/")
                            .bold.col.no-padding Home
                            i.material-icons.col.right home
                    li.collapse
                        ul.collapsible.collapsible-accordion(data-collapsible="accordion")
                            li
                                a.row.zero.collapsible-header.waves-effect.waves-light
                                    .col.no-padding.bold Events
                                    i.material-icons.col.right#listicon  list
                                .collapsible-body
                                    ul
                                        li
                                            a.row.zero(href="/events/category/Mega")
                                                .col.no-padding Flagship
                                                i.material-icons.col.right stars
                                        li
                                            a.row.zero(href="/events/category/Coding")
                                                .col.no-padding Coding Events
                                                i.material-icons.col.right keyboard
                                        li
                                            a.row.zero(href="/events/category/Hardware")
                                                .col.no-padding Hardware Events
                                                i.material-icons.col.right developer_board
                                        li
                                            a.row.zero(href="/events/category/Robotica")
                                                .col.no-padding Robotica
                                                i.material-icons.col.right android
                                        li
                                            a.row.zero(href="/events/category/Quiz")
                                                .col.no-padding Quiz Fest
                                                i.material-icons.col.right help_outline
                                        li
                                            a.row.zero(href="/events/category/Bio")
                                                .col.no-padding Bio Vision
                                                i.material-icons.col.right polymer
                                        li
                                            a.row.zero(href="/events/category/Online")
                                                .col.no-padding Online
                                                i.material-icons.col.right wifi_tethering
                                        li
                                            a.row.zero(href="/events/category/Miscellaneous")
                                                .col.no-padding Misc.
                                                i.material-icons.col.right blur_on
                    li
                        a.row.zero(href="/schedule")
                            .bold.col.no-padding Schedule
                            i.material-icons.col.right date_range
                    li
                        a.row.zero(href="/sponsors")
                            .bold.col.no-padding Sponsors
                            i.material-icons.col.right all_out
                    li
                        a.row.zero(href="/campus")
                            .bold.col.no-padding Campus Ambassador
                            i.material-icons.col.right person_pin
                    li
                        a.row.zero(href="/contact")
                            .bold.col.no-padding Contact Us
                            i.material-icons.col.right contact_mail
                    li
                        a.row.zero(href="/about")
                            .bold.col.no-padding About Us
                            i.material-icons.col.right info
        main
            block content

        footer.page-footer#footer
            .container
                .row
                    .col.m3.s12.center-on-small-only
                        h5 Follow Us
                        .container.zero
                            .row.center-on-small-only
                                a(target="_blank" href="https://www.facebook.com/Innoitis")
                                    img#fb(src='/images/fb.png', width='20px', height='20px' style="margin-left:10px;")
                    div.col.m4.s12.center-on-small-only
                        h5 Site
                        ul
                            li
                                a(href="/events") Events
                            li
                                a(href="/categories") Categories
                            li
                                a(href="/sponsors") Sponsors
                            li
                                a(href="/about") About Us
                            li
                                a(href="/contact") Contact Us
                    div.col.m5.s12.center-on-small-only
                        p#address.right-align.bold.
                            Netaji Subhas Institute Of Technology
                            (University Of Delhi)
                            Azad Hind Fauj Marg
                            Sector-3, Dwarka
                            New Delhi - 110078
            div.footer-copyright
                div.container © 2016 Innovision, NSIT

        #loginModal.modal
            .modal-content.center
                h4.intro.white-text Login
                .row
                    form.col.s12(role='form', action="/login", method="post")
                            .input-field.col.s8.offset-s2
                                input(type='text', id="email" name="email")
                                label(for="email") Email
                            .input-field.col.s8.offset-s2
                                input(type='password', id="password" name="password")
                                label(for="password") Password
                            button.btn.waves-effect.waves-light(type='submit', style="width: 200px;") Login
                form.row(role='form', action="/login/fb", method="get")
                    .col.s12.center-align.center
                        button#fbLogin.btn(type='submit' style="border: 0;")
                            img(src='/images/fb_login.png', style='max-width: 200px;')
                .row
                    .col.s12.center-align.center
                        a(href='/register')
                            button.btn.waves-effect.waves-light(style="width: 200px;") Register

    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/materialize.js')
    block scripts
    script.
        $(document).ready(function () {
            $('select').material_select();
            $('.modal-trigger').leanModal();
            $('.collapsible').collapsible({
                accordion: true // A setting that changes the collapsible behavior to expandable instead of the default accordion style
            });
            // Initialize collapse button
            $("#menu").sideNav({
                menuWidth: 300,
                edge: 'left', // Choose the horizontal origin
                closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
            });
        });
