doctype html
html
    head
        title= "Innovision'16"
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='/stylesheets/materialize.min.css', rel='stylesheet', media='screen')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/font/material\ icons/material-icons.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400,800,300', type='text/css')
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject'] = r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                    ga('create', 'UA-73588354-1', 'auto');
                    ga('send', 'pageview');
    body
        nav.z-depth-0.grey.lighten-4
            div.nav-wrapper.black-text.container
                ul#slide-out.side-nav.black-text.grey.darken-4
                    li
                        if !login
                            a.modal-trigger(href="#loginModal") Login
                        else
                            a.dropdown-button(href="#!" data-activates="profDrop") Hello #{firstName}!
                                i.material-icons.black-text.right arrow_drop_down
                    li
                        a(href="/") Home
                    li
                        a(href="/events") Events
                    li
                        a(href="/contact") Contact Us
                    li
                        a(href="/about") About Us
                a.button-collapse(href="#" data-activates="slide-out")
                    i.material-icons.black-text menu
                a.brand-logo.black-text(href="/") innovision'16
                    img.left(src="/images/inno2.png")
                ul.right.hide-on-med-and-down.black-text
                    li
                        a(href="/") Home
                    li
                        a(href="/events") Events
                    li
                        a(href="/contact") Contact Us
                    li
                        a(href="/about") About Us
                    li
                        if ! login
                            a.modal-trigger(href="#loginModal") Login
                        else
                            a.dropdown-button(href="#!" data-activates="profDrop") Hello #{firstName}!
                                i.material-icons.black-text.right arrow_drop_down

        main
            block content

        footer.page-footer.grey.lighten-4
            .container
                .row
                    .col.l6.s12
                        h5.black-text Follow Us On:
                        .container
                            .row.black-text
                                a(href="https://www.facebook.com/Innoitis")
                                    .col.s4 FB
                    div.col.l4.offset-l2.s12
                        h5.black-text Site
                        ul
                            li
                                a.black-text(href="/events") Events
                            li
                                a.black-text(href="/login") Login
            div.footer-copyright
                div.container.black-text © 2016 Innovision, NSIT
                    a.grey-text.text-lighten-3.right(href="#") More Links

        #loginModal.modal
            .modal-content.center
                h4 Login
                .row
                    form.col.s12(role='form', action="/login", method="post")
                            .input-field.col.s8.offset-s2
                                input(type='text', id="email" name="email")
                                label(for="email") Email
                            .input-field.col.s8.offset-s2
                                input(type='password', id="password" name="password")
                                label(for="password") Password
                            button.btn.waves-effect.waves-light.blue.darken-4(type='submit', style="width: 200px;") Login
                form.row(role='form', action="/login/fb", method="get")
                    .col.s12.center-align.center
                        button.btn(type='submit')#fb
                            img(src='http://i.stack.imgur.com/ryt6L.png', style='max-width: 200px;')
                .row
                    .col.s12.center-align.center
                        a(href='/register')
                            button.btn.waves-effect.waves-light.blue.darken-4(style="width: 200px;") Register

        ul#profDrop.dropdown-content.grey.darken-4
            li.black-text
                a(href="/users/details") Profile
            li.divider
            li.black-text
                a(href="/logout") Logout
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/materialize.js')
    block scripts
    block style
    script.
        $(document).ready(function () {
            $('.parallax').parallax();
            $('.slider').slider({full_width: true});
            $('select').material_select();
            $('.modal-trigger').leanModal();
            $(".dropdown-button").dropdown();
        });
        // Initialize collapse button
        $(".button-collapse").sideNav();