extends layout

block content
    .container
        .card.row
            .col.s10.offset-s1.center-on-small-only
                form.row(role='form', action="/login", method="post")
                    h3.intro Login
                    .row
                        .input-field.col.s8.offset-s2.m8
                            input(type='text', id="email" name="email")
                            label(for="email") Email
                    .row
                        div.input-field.col.s8.offset-s2.m8
                            input(type='password', id="password" name="password")
                            label(for="password") Password
                            input(id="endpoint" type="hidden" name="endpoint" value="")
                    .row.zero
                        button.btn.waves-effect.waves-light(type='submit') Submit
                form.row(role='form', action="/login/fb", method="get")
                    button#fbLogin.btn(type='submit' style="border: 0;")
                        img(src='/images/fb_login.png', style='max-width: 200px;')
                .row
                    .col.s12
                        a(href='/register')
                            button.btn.waves-effect.waves-light(style="width: 200px; margin-left:-12px;") Register



block scripts
    script.
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('serviceWorker.js').then(function (reg) {
                console.log(':^)', reg);
                reg.pushManager.subscribe({
                    userVisibleOnly: true
                }).then(function (sub) {

                    document.getElementById('endpoint').value = sub.endpoint;
                    console.log(endpoint);
                });
            }).catch(function (error) {
                console.log(':^(', error);
            });
        }

block style
    style
        include ../public/stylesheets/pages/about.css