extends layout

block content
    .container
        .card.row
            .col.s10.offset-s1
                br
                h3.intro Photo ID Upload
                if err
                    h5.red-text #{msg}
                else
                    h5.blue-text #{msg}
                form.col(action='/users/photoUpload' method='post' role='form' enctype="multipart/form-data")
                    .row
                        .input-field.col.s10.offset-s1.m8
                            input(id='inno_id', name='inno_id', type='text',value=inno_id)
                            label.active(for='inno_id') Your User ID
                    .row
                        .input-field.file-field.col.s8.m7
                            .btn.blue.darken-4.waves-effect.waves-light
                                span Photo
                                input(type="file" name="userPhoto" required =true)
                    .row
                        .input-field.col.s10.offset-s1.m8
                            button.btn.waves-effect.waves-light(type="submit") Submit

block style
    style
        include ../public/stylesheets/pages/about.css
