extends layout

block content
    .container
        h3 REGISTER
        p Register to participate in competitions, attend workshops, or just roam around the fest.
        form.col.s12#register(role='form', action="/register", method="post", style='max-width: 300px;')
            div.row
                if (info)
                    h6.red-text= info
                div.input-field.col.s12
                    //i.material-icons.blue-text.darken-4.prefix email
                    input#email(type='email', name="email" required=true)
                    label(for="email") Enter Email
                div.input-field.col.s12
                    //i.material-icons.blue-text.darken-4.prefix star
                    input#pass1(type='password', name="password" required=true)
                    label(for="pass1") Password
                div.input-field.col.s12
                    //i.material-icons.blue-text.darken-4.prefix star
                    input#pass2(type='password', name="password2" required=true)
                    label(for="pass2") Confirm Password
            div.row &nbsp; &nbsp;
                button.btn.waves-effect.waves-light.blue.darken-4(type='submit') Submit &nbsp; &nbsp;
                a(href='/')
                    button.btn.waves-effect.waves-light.blue.darken-4(type="button") Cancel
block scripts
    script.
        $('#register').submit(function () {
            if ($('#pass1').val() == $('#pass2').val())
                return true;
            else {
                return true;
            }
        });

block style
    style
        include ../public/stylesheets/pages/about.css