extends layout

block meta
    title= 'Schedule - Innovision, NSIT'

block style
    style
        include ../public/assets/stylesheets/pages/about.css

block content
    div
        .row
            .center.z-depth-0(style="padding: 0 20px;")
                h3.intro Schedule
                .row
                    .col.s12
                        .card-panel.center
                            h2.card-panel-title.intro.black-text Day 0 : 9th March
                            img(src="/assets/images/schedule/day0.png" style="width:90%")
                .row
                    .col.s12
                        .card-panel.center
                            h2.card-panel-title.intro.black-text Day 1 : 10th March
                            img(src="/assets/images/schedule/day1.png" style="width:90%")
                .row
                    .col.s12
                        .card-panel.center
                            h2.card-panel-title.intro.black-text Day 2 : 11th March
                            img(src="/assets/images/schedule/day2.png" style="width:90%")
                .row
                    .col.s12
                        .card-panel.center
                            h2.card-panel-title.intro.black-text Day 3 : 12th March
                            img(src="/assets/images/schedule/day3.png" style="width:90%")
