extends layout

block meta
    title= 'Sponsors - Innovision, NSIT'

block style
    style
        include ../public/stylesheets/pages/about.css
    style.
        h3 {
            margin-top: 10px;
        }
        .spons img {
            width: 90%;
        }
        .spons {
            height: 300px;
        }
        .spons.s-2 {
            height: 275px
        }
        span {
            color: #000;
            font-size: x-large;
        }
block content
    .container
        .row
            .center.z-depth-0(style="padding: 0 20px;")
                h3.intro Our Sponsors
                .row
                    .col.s12.m6.offset-m3
                        .card-panel.center.spons.s-1
                            a(href="http://www.heromotocorp.in")
                                span.card-panel-title.intro Driven By
                                img(src="/images/sponsors/hero.gif" style="height:75%")
                .row
                    .col.s12
                        .card-panel.center.spons.s-1
                            span.card-panel-title.intro Associate Sponsors
                            .row
                                br
                                a.col.s6(href="http://www.licindia.in")
                                    img(src="/images/sponsors/lic.png" style="width:85%")
                                a.col.s6(href="http://www.vh1.in")
                                    img(src="/images/sponsors/vh1.png" style="width:65%")
                .row
                    .col.s12
                        .card-panel.center.spons.s-1
                            span.card-panel-title.intro Event Partners
                            .row
                                br
                                br
                                br
                                br
                                a.col.s6(href="http://www.tolexo.com")
                                    img(src="/images/sponsors/tolexo.gif")
                                a.col.s6(href="http://www.hackerearth.com")
                                    img(src="/images/sponsors/he.png")
                .row
                    .col.s12.m6
                        .card-panel.center.spons.s-2
                            a(href="http://askmebazaar.com")
                                span.card-panel-title.intro Online Partner
                                img(src="/images/sponsors/amb-logo.png" style="width:50%;")
                    .col.s12.m6
                        .card-panel.center.spons.s-2
                            a(href="http://www.niit.com")
                                span.card-panel-title.intro Education Partner
                                img(src="/images/sponsors/niit.png" style="width:auto; height: 50%;margin-top:20px")
                .row
                    .col.s12.m6
                        .card-panel.center.spons.s-2
                            a(href="http://startupmasterz.com")
                                span.card-panel-title.intro InternFair Partner
                                .row
                                    | &nbsp;
                                img(src="/images/sponsors/startupmasterz.png" style="width:75%;")
                    .col.s12.m6
                        .card-panel.center.spons.s-2
                            a(href="http://www.faagio.com")
                                span.card-panel-title.intro Entrance Partner
                                img(src="/images/sponsors/faagio.png" style="width:auto; height: 80%;margin-top:20px")
                .row
                    .col.s12.m6
                        .card-panel.center.spons.s-2
                            a(href="http://www.webteklabs.com")
                                span.card-panel-title.intro Other Sponsors
                                img(src="/images/sponsors/webtek.png" style="width:80%;")
                    .col.s12.m6
                        .card-panel.center.spons.s-2
                            a(href="https://www.holidayporch.com")
                                span.card-panel-title.intro Other Sponsors
                                img(src="/images/sponsors/hp.png" style="width:80%;margin-top:50px")
                .row
                    .col.s12
                        .card-panel.center.spons.s-2
                            span.card-panel-title.intro Media Partners
                            .row
                                br
                                br
                                br
                                br
                                a.col.s2(href="http://www.ddindia.gov.in/")
                                    img(src="/images/sponsors/dd.jpg" style="margin-top:-20px")
                                a.col.s2(href="http://www.thegrapevine.co.in/")
                                    img(src="/images/sponsors/gp.png")
                                a.col.s3(href="http://www.collegedunia.com/")
                                    img(src="/images/sponsors/collegedunia.png")
                                a.col.s2(href="http://www.fuccha.in")
                                    img(src="/images/sponsors/fuccha.jpg")
                                a.col.s3(href="http://www.twenty19.com/")
                                    img(src="/images/sponsors/twenty19.jpg")
                    .col.s12
                        .card-panel.center.spons.s-2
                            .row
                                br
                                br
                                br
                                br
                                a.col.s3(href="https://www.facebook.com/Collegehunt2014/")
                                    img(src="/images/sponsors/duexpress.jpg" style="margin-top:-35px")
                                a.col.s3(href="http://www.dukhabar.com/")
                                    img(src="/images/sponsors/dukhabar.jpg")
                                a.col.s3(href="http://www.dutimes.com/")
                                    img(src="/images/sponsors/dutimes.jpg")
                                a.col.s3(href="http://www.newdelhitimes.com/")
                                    img(src="/images/sponsors/ndt.jpeg" style="width:60%")