extends layout

block meta
    title= 'Sponsors - Innovision, NSIT'

block style
    style
        include ../public/stylesheets/pages/about.css
    style.
        h3 {
            margin-top: 10px;
        }
        .spons img {
            width: 90%;
        }
        .spons {
            height: 350px;
        }
        .spons.s-2 {
            height: 300px
        }
        span {
            color: #000;
            font-size: x-large;
        }
block content
    .container
        .row
            .center.z-depth-0(style="padding: 0 20px;")
                h3.intro Our Sponsors
                .row
                    .col.s12.m6
                        .card-panel.center.spons.s-1
                            a(href="http://www.licindia.in")
                                span.card-panel-title.intro Associate Sponsor
                                .row
                                    | &nbsp;
                                img(src="/images/sponsors/lic.png")
                    .col.s12.m6
                        .card-panel.center.spons.s-1
                            a(href="http://www.heromotocorp.in")
                                span.card-panel-title.intro Driven By
                                img(src="/images/sponsors/hero.gif")
                .row
                    .col.s12.m6
                        .card-panel.center.spons.s-2
                            a(href="http://www.tolexo.com")
                                span.card-panel-title.intro Event Partner
                                br
                                br
                                .row
                                    | &nbsp;
                                img(src="/images/sponsors/tolexo.gif")
                    .col.s12.m6
                        .card-panel.center.spons.s-2
                            a(href="https://storymirror.com")
                                span.card-panel-title.intro Creative Partner
                                img(src="/images/sponsors/storylogo.png" style="width:auto; height: 70%;")
                .row
                    .col.s12
                        .card-panel.center.spons.s-2
                            span.card-panel-title.intro Education Partners
                            .row
                                br
                                br
                                br
                                br
                                a.col.s3(href="http://www.careerlauncher.com")
                                    img(src="/images/sponsors/cl.png")
                                a.col.s3(href="http://www.jamboreeindia.com")
                                    img(src="/images/sponsors/jamboree-logo.jpg")
                                a.col.s3(href="http://www.niit.com")
                                    img(src="/images/sponsors/niit.png")
                                a.col.s3(href="http://www.diasindia.com")
                                    img(src="/images/sponsors/dias.png")
                .row
                    .col.s12.m6.offset-m3
                        .card-panel.center.spons.s-2
                            a(href="http://askmebazaar.com")
                                span.card-panel-title.intro Coupon Partner
                                .row
                                    | &nbsp;
                                img(src="/images/sponsors/amb-logo.png" style="width:50%;")
