extends layout

block style
    style
        include ../public/stylesheets/pages/mega.css

block content
    .container
        .row
            .card-panel
                h3.intro Our Sponsors
                .row
                    .col.s12.m6
                        .card-image
                            span.card-title.intro Associate Sponsor
                            img(src="/images/sponsors/lic.png")