extends layout

block content

    .image
        img.materialboxed(src="/assets/images/delorean-notxt2.jpg" width="100%")
        h2#theme.edit BACK TO<br />THE FUTURE
    .container
        .row
            .title.center THEME
            p.
                Time moves only in one direction, but memories flow in the opposite
                Our theme ‘Back to the Future’ stands at the intersection of the two
                We explore time as a concept, as a history, as a force of nature, as the
                n-th dimension, and as the utmost disciplinarian. We explore time not
                just through the lens of Sci-Fi novellas and ideas of time machines,
                paradoxes and other fascinating constructs, but through eras gone
                by and to come.
                ‘Back to the Future’ is not about just backwards or forward in time. It’s
                about exploration, analysis and moreover, a celebration of time.
            br
