.version.index /* version checker */
{
	color: #0000F9;
	background-color: #530E85;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	border-color: #000000;
	background-image: none;
	margin-right: auto;
	border-width: 0px;
	width: 100%;
	margin-left: auto;
	z-index: 1;
	background-color: transparent;
}

#u748
{
	z-index: 2;
	background-color: transparent;
	height: 680px;
}

#U1173_animation
{
	border: none;
	width: 100%;
	height: 680px;
}

#pamphletu1078
{
	position: relative;
	margin-right: -10000px;
	padding-bottom: 3px;
	width: 0.01px;
	z-index: 5;
	height: 37px;
}

#u1087
{
	top: -540px;
	left: -908px;
	width: 665px;
	position: absolute;
	padding-bottom: 44px;
}

#u1087popup
{
	z-index: 6;
}

#u1092
{
	top: 22px;
	left: 22px;
	position: relative;
	margin-right: -10000px;
	width: 621px;
	z-index: 7;
	height: 466px;
}

.ie #u1092
{
	opacity: 0.01;
	filter: alpha(opacity=1);
	background-color: #FFFFFF;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
}

#u1083
{
	left: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	width: 50px;
	z-index: 8;
}

#u1086
{
	top: -2px;
	left: -7px;
	padding-top: 2px;
	padding-bottom: 3.3000000000000114px;
	width: 63px;
	position: absolute;
}

#u1086:hover,#u1086:active
{
	min-height: 0px;
	width: 63px;
	margin: 0px;
}

#u1176
{
	left: -56px;
	position: relative;
	width: 50px;
	margin-left: 100%;
	z-index: 10;
	height: 3px;
}

#u1086:hover #u1176,#u1086:active #u1176,#u1086.PamphletThumbSelected #u1176
{
	left: -56px;
	min-height: 0px;
	width: 50px;
	height: 3px;
	margin: 0px 0px 0px 100%;
}

#u1177
{
	left: -56px;
	position: relative;
	margin-top: 13px;
	width: 50px;
	margin-left: 100%;
	z-index: 11;
	height: 3px;
}

#u1178
{
	left: -56px;
	position: relative;
	margin-top: 13px;
	width: 50px;
	margin-left: 100%;
	z-index: 12;
	height: 3px;
}

#u1086:hover #u1177,#u1086:active #u1177,#u1086.PamphletThumbSelected #u1177,#u1086:hover #u1178,#u1086:active #u1178,#u1086.PamphletThumbSelected #u1178
{
	left: -56px;
	min-height: 0px;
	width: 50px;
	height: 3px;
	margin: 13px 0px 0px 100%;
}

#u1308
{
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	z-index: 3;
	background-color: transparent;
}

#u1303
{
	width: 100%;
	display: block;
	z-index: 4;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 961px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 621px;
		max-width: 1360px;
	}

	#u1308
	{
		left: 65px;
		width: 23.53%;
	}

	#u748
	{
		position: relative;
		margin-right: -10000px;
		width: 85.74%;
		margin-left: 7.14%;
		left: 0px;
	}

	#pamphletu1078
	{
		margin-top: 29px;
		left: 90.23%;
	}

}

@media (max-width: 960px)
{
	#muse_css_mq
	{
		background-color: #0003c0;
	}

	#bp_960.active
	{
		display: block;
	}

	#page
	{
		min-height: 438px;
		max-width: 960px;
	}

	#pu748
	{
		margin-right: -10000px;
		margin-top: -510px;
		margin-left: -42px;
		width: 104.38%;
	}

	#u748-bw
	{
		z-index: 2;
		margin-top: 510px;
		height: 680px;
	}

	#pamphletu1078
	{
		margin-top: 539px;
		left: 90.62%;
	}

	#u1308
	{
		left: 35px;
		width: 23.55%;
	}

	body
	{
		min-width: 320px;
	}

}

