#u1087
{
	border-color: transparent;
	border-width: 0px;
	-pie-background: rgba(0,0,0,0.9);
}

#u1092,#u1086
{
	border-color: transparent;
	border-width: 0px;
	background-color: transparent;
}

#u1086:active
{
	border-color: transparent;
	border-width: 0px;
}

#u1176,#u1177,#u1178
{
	background-color: #000000;
}

.element-1,.element-inv,.element-2
{
	border-color: #000000;
	border-width: 0px;
	background-color: #FFFFFF;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton
{
	cursor: pointer;
}

@media (min-width: 961px)
{
	#u1087
	{
		background-color: #191919;
		background-color: rgba(0,0,0,0.9);
	}

}

@media (max-width: 960px)
{
	#u1087
	{
		background-color: #191919;
		background-color: rgba(0,0,0,0.9);
	}

}

