	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 621px;
		max-width: 1360px;
	}

	#u1308
	{
		left: 65px;
		width: 23.53%;
	}

	#u748
	{
		position: relative;
		margin-right: -10000px;
		width: 85.74%;
		margin-left: 7.14%;
		left: 0px;
	}

	#pamphletu1078
	{
		margin-top: 29px;
		left: 90.23%;
	}


