

.card_center{
  display:block;
  width:500px;
  height:240px;
  margin:30px auto;
}

.card{
  display: block;
  cursor: pointer;
  width:500px;
  height:350px;
  color:#263238;
  margin:50px auto;
  border-radius:5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  font-family: 'Open Sans', sans-serif;;
  font-weight: 400;
  font-size:16px;
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
  position: relative;
  overflow: hidden;
  z-index: 998;
}

.card:active,
.card:focus,
.card:hover{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card>i{
  display:block;
  font-size:100px;
}

.clock {
  width: 120px;
  height: 120px;
  margin:10px auto;
}

.hands {
  width: 100%;
  height: 100%;
  -webkit-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  border-radius: 50%;
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}
circle {
  position: absolute;
  fill: none;
}
.seconds {
  stroke: #263238;
  stroke-width: 5;
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}
.minutes {
  stroke: #607d8b;
  stroke-width: 10;
  z-index: 2;
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}
.hours {
  stroke: #cfd8dc;
  stroke-width: 18;
  z-index: 3;
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}

.days {
  stroke: #fff;
  stroke-width: 32;
  z-index: 4;
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}

.greeting{
  font-size:20px;
  color:#263238;
  font-family: 'Open Sans', sans-serif;;
  font-weight: 800;
}

.fabs {
  margin: 1em auto;
  width:100%;
  height:100px;
}

.fab {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  margin: 25px 25px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;;
  font-weight: 400;
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
  position: relative;
  z-index: 997;
  overflow: hidden;
}

.fab>div{
  display:block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 28px;
}

.fab>.time{
  font-size: 2em;
}

/* Ripple */

.ink {
  display: block;
  position: absolute;
  background: rgba(38, 50, 56, 0.4);
  border-radius: 100%;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  webkit-transform: scale(0);
  transform: scale(0);
}
/*animation effect*/

.ink.animate {
  animation: ripple 0.5s ease-in-out;
}

@keyframes ripple {
  /*scale the element to 250% to safely cover the entire link and fade it out*/

  100% {
    opacity: 0;
    -moz-transform: scale(5);
    -ms-transform: scale(5);
    webkit-transform: scale(5);
    transform: scale(5);
  }
}
