body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

a {
    color: #00B7FF;
}

#events {
    margin-right: -1.5%;
}

#events .card {
    width: 30%;
    margin-right: 3%;
}