body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

a {
    color: #00B7FF;
}
#form,#dp
{
    border:5px;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
}
#dp
{
    border:5px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
}

#events {
    margin-right: -1.5%;
}

#events .card {
    width: 30%;
    margin-right: 3%;
}